.h1 {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 1px;
}

.h1-1 {
    font-family: sans-serif;
    padding-bottom: 1px;
}

#pagecss {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#pagecss td, #indexpagecss th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#pagecss tr:nth-child(even){background-color: #f2f2f2}

#pagecss tr:hover {background-color: #ddd}

#pagecss th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #008cba;
    color: #ffffff;
}

.search-id-name {
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    border: none;
    font-size: 20px;
}

.button1 {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-anc {
    background-color: white;
    color: black;
    border: 1px solid #008cba;
    margin-left: 0%;
}

.button-anc:hover {
    background-color: #008cba;
    color: white;
}


.button-add-new-customer {
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
}

.button-add-new-customer:hover {
    background-color: #555555;
    color: white;
}

.button4 {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button5 {
    background-color: white;
    color: black;
    border: 1px solid #008cba;
}

.button5:hover {
    background-color: #008cba;
    color: white;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.topnav a.notactive {
    font-family: sans-serif;
    background-color: #333;
    color: #ffffff;
}

.topnav a.active {
    font-family: sans-serif;
    background-color: #0475aa;
    color: #ffffff;
}

#issuedate, #expiredate, #cars_first_reg {
    height: 21px;
    width: 14.25%;

}

.labelcss {
    height: 21px;
    width: 14%;
}

.select {
    width: 275px;
    height: 28px;
}

.select-date {
    width: 270px;
    height: 25px;
}

.select-date-2 {
    width: 267px;
    height: 25px;
}

.column {
    float: right;
}

.column2 {
    float: right;
    margin-left:auto;
    margin-right:auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.clear-icon {
    bottom: 20px;
}

.delay-video {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;
    transition-delay: 9s;
}