<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Creator</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>

<!-- Menu Bar -->
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/showAllCustomers">Customers</a>
    <a href="/showAllContracts">Contracts</a>
    <a href="/showAllCars">Cars</a>
</div>

<h1>Create Customer</h1>
<form action="/addNewCustomer" method="post">
    <label>Enter Name</label>
    <br>
    <input type="text" name="customers_name" placeholder="Enter Name">
    <br><br>
    <label>Enter Mobile No.</label>
    <br>
    <input type="text" name="customers_mobile" placeholder="Enter Mobile No.">
    <br><br>
    <label>Enter Phone No.</label>
    <br>
    <input type="text" name="customers_phone" placeholder="Enter Phone No.">
    <br><br>
    <label>Enter e-mail</label>
    <br>
    <input type="text" name="customers_email" placeholder="Enter e-mail">
    <br><br>
    <label>Enter Drivers license No.</label>
    <br>
    <input type="text" name="customers_drivers_license" placeholder="Enter Drivers license No.">
    <br><br>
    <label>Enter Drivers License issue date</label>
    <br>
    <input type="text" name="customers_drivers_license_issuedate" placeholder="YYYY-MM-DD">
    <br><br>
    <label>Enter Drivers License expire date</label>
    <br>
    <input type="text" name="customers_drivers_license_expiredate" placeholder="YYYY-MM-DD">
    <br><br>
    <label>Enter Street Name</label>
    <br>
    <input type="text" name="address_street" placeholder="Enter Street Name">
    <br><br>
    <label>Enter Street No.</label>
    <br>
    <input type="text" name="address_number" placeholder="Enter Street No.">
    <br><br>
    <label>Enter Floor</label>
    <br>
    <input type="text" name="address_floor" placeholder="Enter Floor">
    <br><br>
    <label>Enter City</label>
    <br>
    <input type="text" name="city" placeholder="Enter City">
    <br><br>
    <label>Enter Zip</label>
    <br>
    <input type="text" name="zip" placeholder="Enter Zip">
    <br><br>

    <input style="background-color: seashell" type="submit" value="Add New Customer">
</form>
<br>
<a href="/">
    <button class="btn-create" id="btn-create">Return Home</button>
</a>
</body>
</html>