<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Customer Creator</title>
  <link rel="stylesheet" type="text/css" href="../MyCSS.css">
</head>
<body>

<!-- Menu Bar -->
<div class="topnav">
  <a class="notactive" href="/">Home</a>
  <a class="notactive" href="/showAllCustomers">Customers</a>
  <a class="notactive" href="/showAllContracts">Contracts</a>
  <a class="active" href="/showAllCars">Cars</a>
</div>

<h1 class="h1">Add new Car</h1>

<form action="/addNewCar" method="post">
  <label>Brand</label>
  <br>
  <input class="labelcss" type="text" name="car_brand">
  <br><br>
  <label>Model</label>
  <br>
  <input class="labelcss" type="text" name="car_models_name">
  <br><br>

  <label class="drop-down-menu-css" for="car_models_fueltype" accesskey="car_models_fueltype">Fuel Type:<br></label>
  <select class="labelcss" name="car_models_fueltype" id="car_models_fueltype">
    <option value="none" selected="selected"> -- choose one --
    <option value="EV">EV (Electric Vehicle)
    <option valeu="Petrol">Petrol
    <option value="Diesel">Diesel
  </select>
  <br><br>
  <label class="drop-down-menu-css" for="cars_type" accesskey="cars_type">Car Type:<br></label>
  <select class="labelcss" name="cars_type" id="cars_type">
    <option value="none" selected="selected"> -- choose one --
    <option value="ECO">ECO (Economic)
    <option value="LUX">LUX (Luxury)
    <option value="FAM">FAM (Family)
    <option value="SPRT">SPRT (Sport)
  </select>

  <br><br>
  <label>License Plate</label>
  <br>
  <input class="labelcss" type="text" name="cars_license_plate">
  <br><br>
  <label>First Register Date</label>
  <br>
  <input class="labelcss" type="date" id="cars_first_reg" name="cars_first_reg">
  <br><br>
  <label>Current KM</label>
  <br>
  <input class="labelcss" type="text" id="cars_current_km" name="cars_current_km">
  <br><br>

  <input class="button1 button3" type="submit" value="Add Car">
</form>
</body>
</html>