<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Find Customer</title>
</head>
<body>
<h1>Find Customer</h1>
<span th:text="${customers_id}"/>
<span th:text="${customers_name}"/>
<span th:text="${customers_mobile}"/>
<span th:text="${customers_phone}"/>
<span th:text="${customers_email}"/>
<span th:text="${customers_drivers_license}"/>
<span th:text="${customers_drivers_license_issuedate}"/>
<span th:text="${customers_drivers_license_expiredate}"/>
<span th:text="${address_street}"/>
<span th:text="${address_number}"/>
<span th:text="${address_floor}"/>
<span th:text="${zip}"/>
<span th:text="${city}"/>
<span th:text="${country}"/>

</body>
</html>