<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kailua Spring</title>
    <link rel="stylesheet" type="text/css" href="../MyCSS.css">
</head>
<body>

<!-- Menu Bar -->
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a class="notactive" href="/showAllCustomers">Customers</a>
    <a class="notactive" href="/showAllContracts">Contracts</a>
    <a class="notactive" href="/showAllCars">Cars</a>
</div>

<h1>Welcome to KailuaCarsCRM®</h1>
<h4>This is a management site made for employees only!</h4>
<img src="KailuaCarsLogo.png" alt="Kailua Cars Logo">

</table>
</body>
</html>