<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update Car</title>
  <link rel="stylesheet" type="text/css" href="../MyCSS.css">
</head>
<body>

<!-- Menu Bar -->
<div class="topnav">
  <a class="notactive" href="/">Home</a>
  <a class="notactive" href="/showAllCustomers">Customers</a>
  <a class="notactive" href="/showAllContracts">Contracts</a>
  <a class="active" href="/showAllCars">Cars</a>
</div>

<h1 class="h1">Update Car</h1>

<form th:href="@{'/updateCar/'+${car.cars_id}}" method="post">
  <label>Brand</label>
  <br>
  <input class="labelcss" type="text" name="car_brand" th:value="${car.car_brand}">
  <br><br>
  <label>Model</label>
  <br>
  <input class="labelcss" type="text" name="car_models_name" th:value="${car.car_models_name}">
  <br><br>

  <label class="select" for="car_models_fueltype" accesskey="car_models_fueltype">Fuel Type:<br></label>
  <select class="select" name="car_models_fueltype" id="car_models_fueltype">
    <option th:value="${car.car_models_fueltype}" selected="selected" th:label="${car.car_models_fueltype}">
    <option value="EV">EV (Electric Vehicle)
    <option valeu="Petrol">Petrol
    <option value="Diesel">Diesel
  </select>
  <br><br>
  <label class="select" for="cars_type" accesskey="cars_type">Car Type:<br></label>
  <select class="select" name="cars_type" id="cars_type">
    <option th:value="${car.cars_type}" selected="selected" th:label="${car.cars_type}">
    <option value="ECO">ECO (Economic)
    <option value="LUX">LUX (Luxury)
    <option value="FAM">FAM (Family)
    <option value="SPRT">SPRT (Sport)
  </select>
  <br><br>

  <label>License Plate</label>
  <br>
  <input class="labelcss" type="text" name="cars_license_plate" th:value="${car.cars_license_plate}">
  <br><br>
  <label>First Register Date</label>
  <br>
  <input class="select-date" type="date" name="cars_first_reg" th:value="${car.cars_first_reg}">
  <br><br>
  <label>Current KM</label>
  <br>
  <input class="labelcss" type="text" id="cars_current_km" name="cars_current_km" th:value="${car.cars_current_km}">
  <br><br>

  <input class="button1 button-anc" type="submit" value="Update Car">
</form>

</body>
</html>